<!-- lib/rack_to_basics/templates/greeter.erb -->

<html>
  <head>
    <title>Greeter</title>
  <head>
  <body>
    <p>Please input your name</p>
    <form method="post">
      <label for="name">Name:</label></br>
      <input type="text" id="name" name="name">
      <input type="submit" value="Greet">
    </form>
    <% if !tmpl_inputs.nil? %>
      <hr>
      <p>Hello <%= tmpl_inputs[:name] %></p>
    <% end %>
  </body>
</html>
